In [32]:
import pandas as pd
import numpy as np

df_white = pd.read_csv('winequality_white.csv', sep=';')
print('white')
display(df_white.head(2))

print('red')
df_red = pd.read_csv('winequality_red.csv', sep=';')
display(df_red.head(2))

white

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6

red

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [17]:
# número de amostras e número de colunas em cada conjunto de dados

print(f'A amostra do vinho branco tem {df_white.shape[0]}, e {df_white.shape[1]} colunas.')

print(f'A amostra do vinho branco tem {df_red.shape[0]}, e {df_red.shape[1]} colunas.')

A amostra do vinho branco tem 4898, e 12 colunas.
A amostra do vinho branco tem 1599, e 12 colunas.

In [19]:
# recursos com valores faltantes
df_white.isnull().any()

fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [20]:
df_red.isnull().any()

fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [23]:
# linhas duplicadas no conjunto de dados sobre vinho branco
print(f' Duplicatas tinto {df_red.duplicated().sum()}.\n Duplicatas branco {df_white.duplicated().sum()}.')

 Duplicatas tinto 240.
 Duplicatas branco 937.

In [29]:
# número de valores únicos para qualidade em cada conjunto de dados
print(f' Valores únicos para qualidade tinto: {df_red["quality"].nunique()}.')
print(f' Valores únicos para qualidade branco: {df_white["quality"].nunique()}.')

 Valores únicos para qualidade tinto: 6.
 Valores únicos para qualidade branco: 7.

### Crie colunas de cor
Crie dois vetores de tamanho igual ao número de linhas nos dataframes tinto e branco que repetem o valor “red” or “white”. O NumPy oferece uma forma bem fácil de fazer isso. Aqui está a documentação para a função repeat do NumPy. Dê uma olhada e tente você mesmo.

In [35]:
# crie vetor de cor para o dataframe tinto
color_red = np.repeat('red', df_red.shape[0])
print(color_red)
# crie vetor de cor para o dataframe branco
color_white = np.repeat('white', df_white.shape[0])
print(color_white)

['red' 'red' 'red' ... 'red' 'red' 'red']
['white' 'white' 'white' ... 'white' 'white' 'white']

Adicione os vetores de cor aos dataframes tinto e branco. Faça isso associando uma nova coluna chamada 'color' ao vetor apropriado. A célula abaixo faz isso para o dataframe tinto.

In [36]:
df_red['color'] = color_red
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [38]:
df_white['color'] = color_white
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

### Combine dataframes com append
Veja a documentação para a função append do Pandas e veja se você pode usar isso para descobrir como combinar os dataframes. (Bonus: Por que não estamos usando o método merge para combinar dataframes?) Se você não entender, vou te mostrar como mais tarde. Certifique-se de salvar seu trabalho neste notebook! Você irá voltar para isso mais tarde.

In [43]:
# anexe dataframes
df_wine = df_white.append(df_red)

# exiba o dataframe para ver se tudo deu certo
df_wine.tail(20)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
1579,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5,red
1580,7.4,0.350,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6,red
1581,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5,red
1582,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9,5,red
1583,6.2,0.460,0.29,2.1,0.074,32.0,98.0,0.99578,3.33,0.62,9.8,5,red
1584,6.7,0.320,0.44,2.4,0.061,24.0,34.0,0.99484,3.29,0.80,11.6,7,red
1585,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6,red
1586,7.5,0.310,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6,red
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6,red
1588,7.2,0.660,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6,red
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5,red
1590,6.3,0.550,0.15,1.8,0.077,26.0,35.0,0.99314,3.32,0.82,11.6,6,red
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6,red
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,red
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,red
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,red
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,red
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,red
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,red
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,red

In [42]:
print(f" Branco Original:{df_white.shape} \n Tinto Original:{df_red.shape}\n Combinado:{df_wine.shape}")

 Branco Original:(4898, 13)
 Tinto Original:(1599, 13)
 Combinado:(6497, 13)

## Salve o dataset combinado
Salve seu dataframe recém-combinado como `winequality_edited.csv`. Lembre-se de configurar `index=False` para evitar salvar com uma coluna não-nomeada!

In [45]:
df_wine.to_csv("winequality_edited.csv", index=False)